<div class="card">
  <div class="card-header">
    <h4 class="card-title">
      Agregar Personaje
    </h4>
  </div>

  <div class="card-body">
    <form>
      <div class="mb-3 row">
        <label for="nombre" class="col-4 col-form-label">Nombre</label>
        <div class="col-8">
          <input [(ngModel)]="charact.name" type="text" class="form-control" name="nombre" id="nombre"
            placeholder="Nombre" />
        </div>
      </div>
      <div class="mb-3 row">
        <label for="poder" class="col-4 col-form-label">Poder</label>
        <div class="col-8">
          <input [(ngModel)]="charact.power" type="number" class="form-control" name="poder" id="poder"
            placeholder="Poder" />
        </div>
      </div>

      <div class="mb-3 row">
        <div class="offset-sm-4 col-sm-8">
          <button type="submit" class="btn btn-primary">
            Action
          </button>
        </div>
      </div>
      <pre>{{charact | json}}</pre>

    </form>
  </div>
</div>