<h2>Países</h2>
<hr>
<ul class="list-group">
  <!-- <li class="list-group-item" routerLinkActive="active" routerLink="/country/home">
    Home
  </li>
  <li class="list-group-item" routerLinkActive="active" routerLink="/country/about">
    About
  </li>
  <li class="list-group-item" routerLinkActive="active" routerLink="/country/contact">
    Contact
  </li> -->
  <li class="list-group-item" routerLinkActive="active" routerLink="/country/by-country">
    Por país
  </li>
  <li class="list-group-item" routerLinkActive="active" routerLink="/country/by-region">
    Por Región
  </li>
  <li class="list-group-item" routerLinkActive="active" routerLink="/country/by-capital">
    Por capital
  </li>
</ul>