<div class="card">
  <div class="card-header">
    <h4 class="card-title">Listado</h4>
  </div>
  <div class="card-body">
    <ul class="list-group">
      <li *ngFor="let charact of list; index as i; first as isFirst;last  as isLast" class="list-group-item" [ngClass]="{
        'list-group-item-primary': isFirst,
        'list-group-item-dark': isLast,
      }">
        <div class="d-flex justify-content-between align-items-center">
          <div>
            {{i+1}}.
            {{charact.name}} - {{charact.power}}
          </div>
                  <div class="d-grid gap-2 d-md-block">
            <button type="button" class="btn btn-danger btn-sm me-md-2" (click)="onDelete(i)">
              Delete indice
            </button>
            <button type="button" class="btn btn-danger btn-sm" (click)="onDeleteByUi(charact.ui!)">
              Delete ui
            </button>
          </div>

        </div>
      </li>
    </ul>
  </div>
</div>